## CREDIT CARD FRAUD DETECTION

In [4]:
#importing the required libraries and packages for the project.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Numpy is a python library that is used for working with arrays.<br>
Pandas is a python library used for working with dataframes.<br>
Matplotlib is a data visualization and a graph plotting library.<br>
Seaborn is a library used for data visualization and exploratory data analysis<br>
Scikitlearn is a library algorithm that features multiple Machine Learning algorithms.

In [5]:
# Importing the required dataset
df=pd.read_csv("creditcard.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
#Checking the count and the data type and the number of non null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
#Finding the distribution of the given data
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

The given dataset is highly unbalanced.<br>
0 refers to Normal Transaction<br>
1 refers to Fraudulent Transaction

In [9]:
#Converting the numerical data into two different dataframes by the names of normal and fraud
normal = df[df.Class == 0]
fraud = df[df.Class == 1]

In [10]:
#Describing normal dataframe's amount attribute
normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
#Describing fraud dataframe's amount attribute
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
#Grouping the data by class attribute
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

There exists underfitting in the data due to 492 fraudulent transactions<br>
We will be building a sample dataset containing similar distribution of normal and fraudulent transactions<br>

In [13]:
#Creating sample dataset
normal_sample = normal.sample(n=492)

In [15]:
#combining normal_sample and fraud dataframes
new_df = pd.concat([normal_sample, fraud], axis=0)
new_df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
117911,74868.0,1.470019,-1.326355,0.110066,-1.659288,-1.242682,0.084628,-1.278431,0.081599,-1.704201,...,-0.020336,0.194234,-0.240629,-0.859950,0.534231,0.030065,0.022825,0.005171,53.00,0
241601,151092.0,-0.464196,1.334687,-0.779767,3.618665,2.630235,5.212333,-0.314947,1.319879,-1.119214,...,-0.212301,-0.322946,0.245179,0.682064,-1.351757,-0.021741,-0.104527,0.061835,22.01,0
186401,127088.0,-0.930624,0.348989,-0.452800,-0.289199,0.358433,-1.312449,0.563320,0.337470,0.217832,...,-0.096587,-0.620588,0.057099,-0.184144,0.194740,-0.080822,-0.156169,-0.137625,89.74,0
93409,64404.0,0.777745,-0.582113,0.881697,1.158777,-0.721740,0.601442,-0.503120,0.320141,0.275930,...,0.261350,0.375564,-0.176951,-0.310952,0.201951,-0.345973,0.038815,0.053066,180.00,0
46753,42915.0,-0.348562,1.158996,1.299442,0.060121,0.063480,-0.963384,0.766320,-0.106300,-0.480702,...,-0.254584,-0.644167,-0.010238,0.348814,-0.140036,0.069849,0.247606,0.099827,7.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [17]:
#Checking balances of classes
new_df.Class.value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
#grouping by class attribute
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94663.768293,-0.046137,0.025736,0.101226,-0.127115,-0.019903,0.037893,-0.012358,0.024043,-0.022501,...,-0.000878,0.025336,0.024681,-0.008146,-0.049522,0.012566,-0.001126,0.020614,0.001826,82.225264
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

SPLITTING DATA INTO FEATURES AND TARGETS

In [20]:
#Splitting data into testing and training sets
X = new_df.drop(columns='Class', axis=1)
Y = new_df['Class']

In [21]:
#Using test train split from scikit learn
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=13)

In [22]:
#Shapes of the split data
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

TRAINING MODEL

In [23]:
#Building a logistic regression model
model = LogisticRegression()

In [24]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

MODEL EVALUATION

In [26]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
training_data_accuracy

0.9453621346886912

In [27]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
test_data_accuracy

0.9086294416243654